#homepage-box {
  background-image: url(../img/bg-image.png);
  background-size: cover;
  height: calc(100vh - 56px);
  background-position: center;
}

#welcome-box {
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 20px;
  width: 70%;
  height: 5rem;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 4px;
}

.welcome-text {
  line-height: 4.5rem;
}

/* PRODUCTS */

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.productsCard {
  width: 27rem;
  min-height: 33rem;
}

.card-image {
  padding-top: 1rem;
  height: 13rem;
  width: 100%;
}

.card-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-title {
  font-size: 1.3rem;
  margin: 0;
}

.descriptionText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
