/* NAVBAR */

.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  font-size: 1.5rem;
  margin: 0 1rem;
}

/* HOMEPAGE */
#homepage-box {
  background-image: url(../img/bg-image.png);
  background-size: cover;
  height: calc(100vh - 74px);
  background-position: center;
}

#welcome-box {
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 20px;
  width: 70%;
  height: 5rem;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 4px;
}

.welcome-text {
  line-height: 4.5rem;
}

/* PRODUCTS */

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.productsCard {
  width: 27rem;
  height: 25rem;
  box-shadow: 0px 0px 8px 0px;
  display: flex;
  justify-content: center;
}

.card-image {
  padding-top: 1rem;
  height: 13rem;
  width: 100%;
}

.card-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-title {
  font-size: 1.3rem;
  margin: 0;
}

/* DETAIL PAGE */

#productDetailBox {
  margin: 3rem auto;
  width: 30rem;
}

.card-detail-body {
  padding: 0;
}

.detailImage {
  padding-top: 1rem;
  height: 15rem;
  width: 100%;
}

.detailImage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* 404 PAGE NOT FOUND */

.notFoundBox {
  width: 41rem;
  margin: 0 auto;
}

.errorImage {
  width: 100%;
  height: 21rem;
  overflow: hidden;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 10%;
  box-shadow: 0px 0px 19px 3px;
}

.errorImage img {
  width: 100%;
}

/* LOADING SCREEN */

.loading-box {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
