#homepage-box {
  background-image: url(../img/bg-image.png);
  background-size: cover;
  height: calc(100vh - 56px);
}

#welcome-box {
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 20px;
  width: 70%;
  height: 5rem;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 4px;
}

.welcome-text {
  line-height: 4.5rem;
}
